In [7]:
import pandas as pd
from uszipcode import Zipcode
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

In [8]:
NAMES = {
    0: "loan_id",
    3: "original_interest_rate",
    8: "original_loan_to_value",
    19: "zip_code_short"
}
col_names = [NAMES.get(idx,  "%d"% idx) for idx, _ in enumerate(range(25))]
zipcode = pd.read_csv("zipcode.csv")
zipcode['Zipcode'] = zipcode['Zipcode'].map(lambda x: str(x).zfill(5))
zipcode["3d"] = zipcode['Zipcode'].map(lambda x: x[:3])

In [9]:
Acq_df = pd.read_csv("../FannieMae/2010Q1/Acquisition_2010Q1.txt", header=None, names=col_names,sep="|")

In [10]:
Acq_df['zip_code_short']= Acq_df['zip_code_short'].map(lambda x: str(x).zfill(3))

In [11]:
def get_geo_cent(x):
    res = zipcode[zipcode['3d'] == str(x)][['Lat', 'Long']].mean()
    final = search.by_coordinates(res[0],res[1],returns = 1)
    if len(final) == 0:
        return zipcode[zipcode['3d'] == str(x)].iloc[0,0]
    return final[0].zipcode

In [12]:
Acq_df['zip_geo_center'] = Acq_df['zip_code_short'].map(get_geo_cent)

In [13]:
Acq_df

,loan_id,1,2,original_interest_rate,4,5,6,7,original_loan_to_value,9,...,16,17,18,zip_code_short,20,21,22,23,24,zip_geo_center
0,100010079393,C,"WELLS FARGO BANK, N.A.",4.875,284000,360,01/2010,03/2010,80,80.0,...,1,P,TX,787,NaN,FRM,NaN,NaN,N,78701
1,100013622306,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.750,87000,180,12/2009,02/2010,63,63.0,...,1,P,CA,932,NaN,FRM,785.0,NaN,N,93219
2,100019943199,R,OTHER,5.000,417000,360,11/2009,01/2010,43,43.0,...,1,S,FL,342,NaN,FRM,808.0,NaN,N,34232
3,100022098429,R,OTHER,5.250,461000,360,01/2010,03/2010,61,61.0,...,2,P,NY,112,NaN,FRM,NaN,NaN,N,11203
4,100023088745,R,"WELLS FARGO BANK, N.A.",5.250,100000,360,11/2009,01/2010,80,80.0,...,1,P,OH,446,NaN,FRM,NaN,NaN,N,44612
5,100027393681,B,"CITIMORTGAGE, INC.",4.250,274000,120,01/2010,03/2010,65,82.0,...,1,P,CA,913,NaN,FRM,NaN,NaN,N,91324
6,100027760956,R,OTHER,5.250,227000,360,01/2010,03/2010,55,55.0,...,1,P,CA,934,NaN,FRM,799.0,NaN,N,93401
7,100031032487,R,"BANK OF AMERICA, N.A.",5.125,730000,360,03/2010,04/2010,63,63.0,...,1,P,MD,208,NaN,FRM,NaN,NaN,N,20850
8,100032715932,R,SUNTRUST MORTGAGE INC.,5.375,96000,360,12/2009,01/2010,75,75.0,...,3,I,LA,711,NaN,FRM,815.0,NaN,N,71103
9,100033339771,R,OTHER,5.250,300000,360,02/2010,04/2010,74,74.0,...,1,P,ID,836,NaN,FRM,NaN,NaN,N,83629
10,100036162795,R,"WELLS FARGO BANK, N.A.",4.625,200000,180,12/2009,02/2010,39,39.0,...,1,P,MD,217,NaN,FRM,NaN,NaN,N,21702
11,100039757358,C,"CITIMORTGAGE, INC.",4.625,228000,360,12/2009,02/2010,37,37.0,...,1,P,CA,902,NaN,FRM,781.0,NaN,N,90304
12,100040783841,C,"CITIMORTGAGE, INC.",4.750,257000,360,01/2010,03/2010,52,52.0,...,1,P,UT,846,NaN,FRM,721.0,NaN,N,84648
13,100044567305,C,OTHER,4.875,98000,360,01/2010,03/2010,54,54.0,...,1,S,WI,549,NaN,FRM,775.0,NaN,N,54940
14,100046088905,C,"BANK OF AMERICA, N.A.",4.750,279000,360,12/2009,02/2010,64,64.0,...,1,P,CA,960,NaN,FRM,822.0,NaN,N,96051
15,100049953168,B,"BANK OF AMERICA, N.A.",5.250,292000,360,01/2010,03/2010,80,80.0,...,1,P,NY,115,NaN,FRM,NaN,NaN,N,11550
16,100054405732,B,"BANK OF AMERICA, N.A.",4.875,350000,360,12/2009,02/2010,65,65.0,...,1,P,TX,787,NaN,FRM,793.0,NaN,N,78701
17,100056029701,C,"WELLS FARGO BANK, N.A.",4.250,103000,180,12/2009,02/2010,80,80.0,...,1,P,MO,630,NaN,FRM,NaN,NaN,N,63025
18,100056508170,R,"WELLS FARGO BANK, N.A.",5.000,141000,360,12/2009,03/2010,69,69.0,...,1,P,DC,200,NaN,FRM,NaN,NaN,N,20004
19,100056554242,C,"WELLS FARGO BANK, N.A.",4.375,300000,180,12/2009,02/2010,43,43.0,...,1,P,KY,400,NaN,FRM,792.0,NaN,N,40022
20,100056793679,R,OTHER,5.625,95000,360,02/2010,04/2010,80,80.0,...,1,P,PA,171,NaN,FRM,NaN,NaN,N,17102
21,100057102292,R,OTHER,5.125,109000,240,01/2010,03/2010,80,80.0,...,1,P,GA,317,NaN,FRM,NaN,NaN,N,31791
22,100061403984,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5.125,660000,360,01/2010,03/2010,80,80.0,...,1,P,CT,068,NaN,FRM,775.0,NaN,N,06897
23,100064110478,B,OTHER,5.625,128000,360,03/2010,05/2010,75,75.0,...,1,I,TX,752,NaN,FRM,NaN,NaN,N,75246
24,100064988434,R,"WELLS FARGO BANK, N.A.",4.875,300000,360,01/2010,03/2010,43,43.0,...,1,S,AZ,852,NaN,FRM,NaN,NaN,N,85295
25,100067986742,C,"BANK OF AMERICA, N.A.",4.375,345000,360,01/2010,03/2010,77,77.0,...,1,P,CO,800,NaN,FRM,797.0,NaN,N,80216
26,100075990168,R,OTHER,4.500,127000,180,12/2009,02/2010,73,73.0,...,1,P,MI,480,NaN,FRM,NaN,NaN,N,48042
27,100080406480,C,U.S. BANK N.A.,5.375,400000,360,01/2010,03/2010,53,53.0,...,1,P,UT,840,NaN,FRM,NaN,NaN,N,84060
28,100080816876,R,OTHER,4.875,32000,240,01/2010,03/2010,80,80.0,...,1,P,TN,380,NaN,FRM,NaN,NaN,N,38069
29,100084613192,B,"BANK OF AMERICA, N.A.",4.375,295000,180,12/2009,03/2010,65,65.0,...,1,P,MA,017,NaN,FRM,760.0,NaN,N,01701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323144,999916220338,C,"BANK OF AMERICA, N.A.",4.875,229000,360,01/2010,03/2010,75,75.0,...,1,I,CA,917,NaN,FRM,793.0,NaN,N,91724
323145,999916759152,C,"WELLS FARGO BANK, N.A.",4.875,75000,240,12/2009,02/2010,68,68.0,...,1,P,LA,707,NaN,FRM,NaN,NaN,N,70805
323146,999919586679,C,"WELLS FARGO BANK, N.A.",5.000,427000,360,12/2009,02/2010,76,76.0,...,1,P,VA,233,NaN,FRM,776.0,NaN,N,23405
323147,999927804223,R,"CITIMORTGAGE, INC.",4.500,417000,360,01/2010,03/2010,51,57.0,...,1,P,CA,913,NaN,FRM,724.0,NaN,N,91324
323148,999933819368,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.990,222000,360,12/2009,02/2010,90,90.0,...,1,P,NJ,080,25.0,FRM,795.0,1.0,N,08026
323149,999933927137,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.625,150000,180,11/2009,01/2010,49,49.0,...,1,P,WA,982,NaN,FRM,800.0,NaN,N,98273
323150,999938657033,C,"BANK OF AMERICA, N.A.",4.875,220000,360,01/2010,03/2010,49,49.0,...,1,P,MA,017,NaN,FRM,784.0,NaN,N,01701
323151,999945384714,R,"GMAC MORTGAGE, LLC",4.625,224000,360,12/2009,02/2010,80,80.0,...,1,P,FL,331,NaN,FRM,NaN,NaN,N,33135
323152,999947338114,R,"WELLS FARGO BANK, N.A.",5.375,144000,360,02/2010,04/2010,95,95.0,...,1,P,MO,658,30.0,FRM,NaN,1.0,N,65802
323153,999951043312,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5.000,95000,360,12/2009,02/2010,95,95.0,...,1,P,AL,365,30.0,FRM,NaN,1.0,N,36525
323154,999951536919,C,"WELLS FARGO BANK, N.A.",4.375,180000,180,01/2010,03/2010,64,64.0,...,1,P,WI,537,NaN,FRM,787.0,NaN,N,53703
323155,999951943203,C,FLAGSTAR CAPITAL MARKETS CORPORATION,4.875,204000,180,12/2009,02/2010,70,70.0,...,1,P,VA,229,NaN,FRM,NaN,NaN,N,22903
323156,999955099597,R,"WELLS FARGO BANK, N.A.",4.875,242000,360,11/2009,01/2010,74,74.0,...,1,P,OR,970,NaN,FRM,751.0,NaN,N,97055
323157,999956212131,R,OTHER,5.500,109000,360,12/2009,02/2010,75,75.0,...,1,I,CA,949,NaN,FRM,NaN,NaN,N,94947
323158,999960874379,R,OTHER,5.125,192000,240,03/2010,05/2010,80,80.0,...,1,P,IL,620,NaN,FRM,802.0,NaN,N,62685
323159,999962898742,R,"WELLS FARGO BANK, N.A.",4.750,69000,180,12/2009,02/2010,9,9.0,...,2,P,NY,112,NaN,FRM,728.0,NaN,N,11203
323160,999965543730,R,PHH MORTGAGE CORPORATION,4.710,273000,360,12/2009,02/2010,64,64.0,...,1,P,WA,981,NaN,FRM,NaN,NaN,N,98104
323161,999967098679,C,"BANK OF AMERICA, N.A.",4.375,408000,120,12/2009,02/2010,59,59.0,...,1,P,WI,532,NaN,FRM,802.0,NaN,N,53208
323162,999967455976,R,"WELLS FARGO BANK, N.A.",4.750,214000,360,12/2009,02/2010,95,95.0,...,1,P,SD,577,30.0,FRM,797.0,1.0,N,57701
323163,999971350794,R,OTHER,5.250,195000,360,12/2009,02/2010,72,72.0,...,1,P,NY,103,NaN,FRM,NaN,NaN,N,10306
323164,999974301694,R,OTHER,5.375,100000,360,02/2010,04/2010,74,74.0,...,1,I,ID,836,NaN,FRM,813.0,NaN,N,83629
323165,999975822695,R,OTHER,4.375,70000,180,01/2010,03/2010,19,19.0,...,1,P,NJ,070,NaN,FRM,769.0,NaN,N,07018
323166,999979054155,C,FLAGSTAR CAPITAL MARKETS CORPORATION,4.799,246000,360,12/2009,01/2010,72,72.0,...,1,S,NC,285,NaN,FRM,805.0,NaN,N,28573
323167,999983602481,R,"PNC BANK, N.A.",4.750,136000,180,02/2010,04/2010,64,64.0,...,1,P,MI,490,NaN,FRM,792.0,NaN,N,49002
323168,999986446658,R,OTHER,5.250,157000,360,01/2010,03/2010,79,84.0,...,1,P,MA,021,NaN,FRM,759.0,NaN,N,02118
323169,999990451380,R,"WELLS FARGO BANK, N.A.",4.875,520000,360,12/2009,02/2010,80,80.0,...,1,P,WA,980,NaN,FRM,NaN,NaN,N,98006
323170,999993511488,C,"WELLS FARGO BANK, N.A.",5.125,320000,360,12/2009,02/2010,48,48.0,...,1,P,NC,276,NaN,FRM,NaN,NaN,N,27608
323171,999993982336,R,"BANK OF AMERICA, N.A.",4.500,182000,180,12/2009,02/2010,73,73.0,...,1,P,NC,283,NaN,FRM,711.0,NaN,N,28304
323172,999998369629,C,OTHER,5.375,82000,360,02/2010,04/2010,80,80.0,...,1,P,IL,623,NaN,FRM,712.0,NaN,N,62320
323173,999999167522,R,OTHER,5.250,417000,360,01/2010,03/2010,50,50.0,...,1,S,NJ,082,NaN,FRM,814.0,NaN,N,08223

## Part 2 Split trainning and test data

In [11]:
NAMES1 = {0: "loan_id", 1: "DATE", 15: "forclosure_date"}
col_names = [
    NAMES1.get(idx, "%d"% idx) for idx, _ in enumerate(range(31))]
per_df = pd.read_csv("../FannieMae/2010Q1/Performance_2010Q1.txt",header=None,names=col_names,sep="|")

/Users/DanWang/anaconda3/envs/tensorflow/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
split = per_df['DATE'].map(lambda x: int(x[-4:])<2015)

In [14]:
train = per_df[split]
test = per_df[~split]

In [17]:
train

,loan_id,DATE,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,100010079393,02/01/2010,"WELLS FARGO BANK, N.A.",4.875,NaN,0,360,360.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100010079393,03/01/2010,NaN,4.875,NaN,1,359,358.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100010079393,04/01/2010,NaN,4.875,NaN,2,358,358.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,100010079393,05/01/2010,NaN,4.875,NaN,3,357,357.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,100010079393,06/01/2010,NaN,4.875,NaN,4,356,355.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
5,100010079393,07/01/2010,NaN,4.875,NaN,5,355,354.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6,100010079393,08/01/2010,NaN,4.875,281525.61,6,354,353.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7,100010079393,09/01/2010,NaN,4.875,281166.36,7,353,352.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
8,100010079393,10/01/2010,NaN,4.875,280805.65,8,352,351.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9,100010079393,11/01/2010,NaN,4.875,280443.47,9,351,350.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
10,100010079393,12/01/2010,NaN,4.875,280443.47,10,350,350.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
11,100010079393,01/01/2011,NaN,4.875,280443.47,11,349,0.0,02/2040,12420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
12,100013622306,01/01/2010,"JP MORGAN CHASE BANK, NA",4.750,NaN,0,180,179.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
13,100013622306,02/01/2010,NaN,4.750,NaN,1,179,178.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
14,100013622306,03/01/2010,NaN,4.750,NaN,2,178,177.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
15,100013622306,04/01/2010,NaN,4.750,NaN,3,177,177.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
16,100013622306,05/01/2010,NaN,4.750,NaN,4,176,175.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
17,100013622306,06/01/2010,NaN,4.750,NaN,5,175,174.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18,100013622306,07/01/2010,NaN,4.750,84645.77,6,174,173.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
19,100013622306,08/01/2010,NaN,4.750,84304.11,7,173,172.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
20,100013622306,09/01/2010,NaN,4.750,83961.09,8,172,171.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
21,100013622306,10/01/2010,NaN,4.750,83616.72,9,171,170.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
22,100013622306,11/01/2010,NaN,4.750,83270.98,10,170,169.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
23,100013622306,12/01/2010,NaN,4.750,82923.87,11,169,168.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
24,100013622306,01/01/2011,NaN,4.750,82575.39,12,168,167.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
25,100013622306,02/01/2011,NaN,4.750,82225.53,13,167,166.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
26,100013622306,03/01/2011,NaN,4.750,81874.29,14,166,165.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
27,100013622306,04/01/2011,NaN,4.750,81521.66,15,165,164.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
28,100013622306,05/01/2011,NaN,4.750,81167.63,16,164,163.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
29,100013622306,06/01/2011,NaN,4.750,80812.20,17,163,162.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18080611,999998369629,09/01/2014,NaN,5.375,76399.61,54,306,306.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080612,999998369629,10/01/2014,NaN,5.375,76282.64,55,305,305.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080613,999998369629,11/01/2014,NaN,5.375,76165.14,56,304,304.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080614,999998369629,12/01/2014,NaN,5.375,76047.12,57,303,303.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080666,999999167522,01/01/2010,OTHER,5.250,NaN,-1,361,360.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080667,999999167522,02/01/2010,NaN,5.250,NaN,0,360,358.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080668,999999167522,03/01/2010,NaN,5.250,NaN,1,359,357.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080669,999999167522,04/01/2010,NaN,5.250,NaN,2,358,356.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080670,999999167522,05/01/2010,NaN,5.250,NaN,3,357,354.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080671,999999167522,06/01/2010,NaN,5.250,NaN,4,356,353.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080672,999999167522,07/01/2010,NaN,5.250,412980.63,5,355,352.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080673,999999167522,08/01/2010,NaN,5.250,412484.73,6,354,351.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080674,999999167522,09/01/2010,NaN,5.250,411986.66,7,353,350.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080675,999999167522,10/01/2010,NaN,5.250,411486.41,8,352,349.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080676,999999167522,11/01/2010,NaN,5.250,410983.97,9,351,348.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080677,999999167522,12/01/2010,NaN,5.250,410479.33,10,350,347.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080678,999999167522,01/01/2011,NaN,5.250,409972.49,11,349,346.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080679,999999167522,02/01/2011,NaN,5.250,409463.43,12,348,345.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080680,999999167522,03/01/2011,NaN,5.250,408952.14,13,347,344.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080681,999999167522,04/01/2011,NaN,5.250,408438.62,14,346,343.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080682,999999167522,05/01/2011,NaN,5.250,407922.85,15,345,342.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080683,999999167522,06/01/2011,NaN,5.250,407404.82,16,344,341.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080684,999999167522,07/01/2011,NaN,5.250,406884.53,17,343,340.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080685,999999167522,08/01/2011,NaN,5.250,406361.96,18,342,339.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080686,999999167522,09/01/2011,NaN,5.250,405837.10,19,341,338.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080687,999999167522,10/01/2011,NaN,5.250,405309.95,20,340,337.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080688,999999167522,11/01/2011,NaN,5.250,404780.49,21,339,336.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080689,999999167522,12/01/2011,NaN,5.250,404248.71,22,338,335.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080690,999999167522,01/01/2012,NaN,5.250,403714.61,23,337,334.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080691,999999167522,02/01/2012,NaN,5.250,403714.61,24,336,0.0,02/2040,36140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [18]:
test

,loan_id,DATE,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
72,100013622306,01/01/2015,NaN,4.750,64120.85,60,120,119.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
73,100013622306,02/01/2015,NaN,4.750,63697.94,61,119,118.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
74,100013622306,03/01/2015,NaN,4.750,63273.36,62,118,117.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
75,100013622306,04/01/2015,NaN,4.750,62847.10,63,117,116.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
76,100013622306,05/01/2015,NaN,4.750,62419.15,64,116,115.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
77,100013622306,06/01/2015,NaN,4.750,61989.51,65,115,114.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
78,100013622306,07/01/2015,NaN,4.750,61558.17,66,114,113.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
79,100013622306,08/01/2015,NaN,4.750,61125.12,67,113,112.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
80,100013622306,09/01/2015,NaN,4.750,60690.35,68,112,111.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
81,100013622306,10/01/2015,NaN,4.750,60253.86,69,111,110.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
82,100013622306,11/01/2015,NaN,4.750,59815.64,70,110,109.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
83,100013622306,12/01/2015,NaN,4.750,59375.69,71,109,108.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
84,100013622306,01/01/2016,NaN,4.750,58934.00,72,108,107.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
85,100013622306,02/01/2016,NaN,4.750,58490.56,73,107,106.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
86,100013622306,03/01/2016,NaN,4.750,58045.37,74,106,105.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
87,100013622306,04/01/2016,NaN,4.750,57598.41,75,105,104.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
88,100013622306,05/01/2016,NaN,4.750,57149.68,76,104,103.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
89,100013622306,06/01/2016,NaN,4.750,57149.68,77,103,103.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
90,100013622306,07/01/2016,NaN,4.750,56246.89,78,102,101.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
91,100013622306,08/01/2016,NaN,4.750,55792.81,79,101,100.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
92,100013622306,09/01/2016,NaN,4.750,55336.94,80,100,99.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
93,100013622306,10/01/2016,NaN,4.750,54879.26,81,99,98.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
94,100013622306,11/01/2016,NaN,4.750,54419.77,82,98,97.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
95,100013622306,12/01/2016,NaN,4.750,53958.46,83,97,96.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
96,100013622306,01/01/2017,NaN,4.750,53495.33,84,96,95.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
97,100013622306,02/01/2017,NaN,4.750,53030.36,85,95,94.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
98,100013622306,03/01/2017,NaN,4.750,53030.36,86,94,94.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
99,100013622306,04/01/2017,NaN,4.750,52094.89,87,93,92.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
100,100013622306,05/01/2017,NaN,4.750,51624.38,88,92,91.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
101,100013622306,06/01/2017,NaN,4.750,51152.01,89,91,90.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18080636,999998369629,10/01/2016,NaN,5.375,73312.57,79,281,281.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080637,999998369629,11/01/2016,NaN,5.375,73181.77,80,280,280.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080638,999998369629,12/01/2016,NaN,5.375,73050.38,81,279,279.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080639,999998369629,01/01/2017,NaN,5.375,72918.40,82,278,278.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080640,999998369629,02/01/2017,NaN,5.375,72785.83,83,277,277.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080641,999998369629,03/01/2017,NaN,5.375,72652.67,84,276,276.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080642,999998369629,04/01/2017,NaN,5.375,72518.91,85,275,275.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080643,999998369629,05/01/2017,NaN,5.375,72384.55,86,274,274.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080644,999998369629,06/01/2017,NaN,5.375,72249.59,87,273,273.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080645,999998369629,07/01/2017,NaN,5.375,72114.03,88,272,272.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080646,999998369629,08/01/2017,NaN,5.375,71977.86,89,271,271.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080647,999998369629,09/01/2017,NaN,5.375,71841.08,90,270,270.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080648,999998369629,10/01/2017,NaN,5.375,71703.69,91,269,269.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080649,999998369629,11/01/2017,NaN,5.375,71565.68,92,268,268.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080650,999998369629,12/01/2017,NaN,5.375,71427.05,93,267,267.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080651,999998369629,01/01/2018,NaN,5.375,71287.80,94,266,266.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080652,999998369629,02/01/2018,NaN,5.375,71147.93,95,265,265.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080653,999998369629,03/01/2018,NaN,5.375,71007.43,96,264,264.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080654,999998369629,04/01/2018,NaN,5.375,70866.30,97,263,263.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080655,999998369629,05/01/2018,NaN,5.375,70724.54,98,262,262.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080656,999998369629,06/01/2018,NaN,5.375,70582.15,99,261,261.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080657,999998369629,07/01/2018,NaN,5.375,70439.12,100,260,260.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080658,999998369629,08/01/2018,NaN,5.375,70295.45,101,259,259.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080659,999998369629,09/01/2018,NaN,5.375,70151.14,102,258,258.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080660,999998369629,10/01/2018,NaN,5.375,70006.18,103,257,257.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080661,999998369629,11/01/2018,NaN,5.375,69860.57,104,256,256.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080662,999998369629,12/01/2018,NaN,5.375,69714.31,105,255,255.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080663,999998369629,01/01/2019,NaN,5.375,69567.39,106,254,254.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080664,999998369629,02/01/2019,NaN,5.375,69419.81,107,253,253.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18080665,999998369629,03/01/2019,NaN,5.375,69271.57,108,252,252.0,03/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N